<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
</head>
<body>
    <h1>Library Management System</h1>
    <a href="/add_book_form">Add Book</a><br><br>
    <a href="/view_all_books">View all Books</a><br><br>
    <a href="/add_user_form">Add User</a><br><br>
    <a href="/view_all_users">View all Users</a><br><br>
    <a href="/borrow_book_form">borrow_book</a><br><br>
    <a href="/return_book_form">return_book</a><br><br>
    <a href="/borrowed_books">View_Borrowed_Books</a><br><br>
    <a href="/books_borrowed_by_user_form">all_books_borrowed_by_user</a>
</body>
</html>